body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.pointer{
    cursor: pointer;
}
.myMenu {
    color: aqua;
    font-size: 17px;
    background-color: #292b2c !important;
}


#tblInput {
    background: #E8E9E9;
    text-align: left;
    font-family: 'Saira', sans-serif;
    width: 150px;
}
    #tblInput:hover {
        background-color: #DBDCDD;
    }

.myStyle {
    font-family: 'Saira', sans-serif;
    background-color: #eceeef;
    border-radius: 0.3rem;
}